<h1>New link</h1>

<% if @link.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @link.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @link do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit  %>
<% end %>
